{% set payments = __SELF__.paymentsModerated %}
{% set paymentPage = __SELF__.paymentPage %}
{% set colorDone = __SELF__.colorDone %}
{% set colorModerated = __SELF__.colorModerated %}
<div id="default_container">
    <h2> Liste des payements à exécuter </h2>
    <div class="row" >
        {%partial __SELF__ ~ '::list_payments' payments=payments status='moderated' status_type=colorModerated %}
    </div>

    <h2> Liste des payements terminés</h2>
    <div class="row">
        {%partial __SELF__ ~ '::list_payments' payments=payments status='done' status_type=colorDone %}
    </div>
</div>
