{% set categories = __SELF__.categories %}
{% set financialData = __SELF__.financialData %}
{% set datacomplete = __SELF__.datacomplete %}
{{ form_ajax('onAdd',{ files: true }) }}

    {%partial __SELF__ ~ '::form_category'%}
    <div class="form-group">
      <label for="registerAmount">Montant total</label>
      <div class="input-group">
        <span class="input-group-addon">$</span>
        <input type="text" class="form-control" id="amount" name="amount" placeholder="CHF" required{% if not datacomplete%} disabled {% endif %}>
      </div>
    </div>
    <div class="form-group">
      <label for="justificatifs">Justificatif</label>
      <input type="file" name="justificatifs" id="justificatifs" class="filestyle" data-buttonName="btn-primary" required{% if not datacomplete%} disabled {% endif %}>
    </div>
    <div class="form-group">
        <label for="registerDescription">Description</label>
        <textarea type="textarea" class="form-control" placeholder="Achat de 300 Flyers pour le stand ASVd des 20KM de Lausanne" name="description" {% if not financialData%} disabled {% endif %}></textarea>
    </div>

    <div class="form-group">
        <button class="pull-right btn btn-primary" type="submit" {% if not datacomplete%} disabled {% endif %}>Submit</button>
    </div>
{{ form_close() }}
