{% set payments = __SELF__.paymentsModerated %}

<ul class="list-group" id="payments">
    {% for payment in payments %}
    {% set user = payment.remb_user %}
    <li class="list-group-item">
        <input type="hidden" name="items[]" value="{{ payment }}" />
        <div class="row">
            <div class="col-md-3">
                CCP : <b> {{ user.ccp }} </b> Montant: <!--{{payment.amount}}-->

            </div>
            <div class="col-md-3">
                Pour : {{ user.username }} <br>
                {{ user.email }}

            </div>
            <div class="col-md-3">
                {{ user.address }} <br>
                {{ user.npa }} - {{ user.city }}
            </div>
            <div class="col-md-3">
                <button type="button"
                    class="close pull-right"
                    aria-hidden="true"
                    class=""
                    onclick="$(this).closest('li').remove()">&times;</button>
                <button type="button"
                    class="close pull-right"
                    aria-hidden="true"
                    class=""
                    onclick="$(this).closest('li').remove()">&times;</button>
                <button type="button"
                    class="close pull-right"
                    aria-hidden="true"
                    class=""
                    onclick="$(this).closest('li').remove()">&times;</button>
            </div>



          </div>
      </li>
     {% endfor %}

</ul>
