.panel-body {
    background-color: rgba(204, 238, 255, 0.3);
}

.table-striped > tbody > tr:nth-of-type(2n+1) {
    background-color: rgba(255, 255, 255, 1) !important;
}
.table-striped > tbody > tr:hover {
    background-color: rgba(207, 240, 255, 1) !important;
}
