<div class="row">
    <div class="col-md-12">
        <h2> Note de frais pour l'ASVd </h2>
        <p>
             Pour soumettre une note de frais, merci d'utiliser le formulaire ci-dessous. Pour les cours de formation il est possible de créer
             un groupe de payement. Ces derniers regroupent toutes les remboursements d'une formation, cela permet de faciliter la comptabilité.
        </p>
    </div>
    <div class="col-md-12">
        <h3> Enregistrer une nouvelle note de frais </h3>
        {%partial __SELF__ ~ '::form'%}
    </div>
</div>
